body {
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

button:hover{
  background-color: rgba(239, 0, 0, 0.238);
}
button{
  border-top: 0px;
  border-radius: 10%;
  background-color: aqua;
  border-bottom: 0px;
}